
/* Banner */

.banner{
    margin-top: 5rem;
  }
  
  .header {
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.25)),
        url('../img/bg-tc.png');
    background-size: cover;
    background-position: top;
    position: relative;
  }
  
  @media (max-width: 767px){
    .header {
      height: 60vh;
      background-image: linear-gradient(rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0.25)),
          url('../img/bg-tc.png');
      background-size: cover;
      background-position: top;
      position: relative;
    }
  }
  
  .page-heading {
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    white-space: nowrap;
  }
  
  .page-heading-primary {
    display: block;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: .8rem;
  }
  
  .page-heading-secondary {
    display: block;
    font-size: 22px;
    font-weight: 300;
  }
  
  @media (max-width: 1200px) {
    .header {
        height: 50vh;
    }
  
    .page-heading {
        left: 33%;
    }
  
    .page-heading-primary {
        font-size: 50px;
    }
  
    .page-heading-secondary {
        display: block;
        font-size: 17px;
        font-weight: 300;
    }
  }
  
  @media (max-width: 991px) {
    .header {
        height: 45vh;
    }
  
    .page-heading {
        left: 35%;
    }
  
    .page-heading-primary {
        font-size: 40px;
    }
  
    .page-heading-secondary {
        display: block;
        font-size: 14px;
        font-weight: 300;
    }
  }
  
  @media (max-width: 767px) {
    .header {
        height: 40vh;
    }
  
    .page-heading {
        left: 50%;
        text-align: center;
    }
  
    .page-heading-primary {
        font-size: 38px;
    }
  
    .page-heading-secondary {
        display: block;
        font-size: 14px;
        font-weight: 400;
    }
  }
  
  @media (max-width: 576px) {
    .header {
        height: 35vh;
    }
  
    .page-heading {
        left: 50%;
        text-align: center;
    }
  
    .page-heading-primary {
        font-size: 38px;
    }
  
    .page-heading-secondary {
        font-size: 12px;
    }
  }
  
  @media (max-width: 450px) {
    .header {
        height: 35vh;
    }
  
    .page-heading {
        left: 50%;
        text-align: center;
    }
  
    .page-heading-primary {
        font-size: 24px;
    }
  
    .page-heading-secondary {
        font-size: 9.5px;
    }
  }
  
  @media (max-width: 350px) {
    .page-heading {
        left: 50%;
        text-align: center;
    }
  
    .page-heading-primary {
        font-size: 26px;
        margin-bottom: .3rem;
    }
  
    .page-heading-secondary {
        font-size: 8px;
    }
  }
  
  /* End Banner */


  @media (max-width: 600px){
    .tc h2{
      font-size: 22px;
    }
    .tc p{
        font-size: 14px;
      }
  }
  
  @media (max-width: 400px){
    .tc h2{
      font-size: 20px;
    }
    .tc p{
        font-size: 12px;
      }
  }